@import "tailwindcss";

@theme {
  --color-canvas-bg: #ffffff;
  --color-canvas-fg: #000000;
  --color-canvas-subtle: #f8fafc;
  --color-canvas-border: #e2e8f0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--color-canvas-bg);
  color: var(--color-canvas-fg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}